body{
	background-color: #f5f5f5;
	background-image: url('imagejeune.png');
	background-repeat: no-repeat;
	background-size: cover;
	
}
.bandeau{
	display: flex;
	width: 1900px;
	background-color: rgb(196, 193, 193);
	background-image: url(logo.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;

}
.entete{
	display: flex;
	align-items: end;
	text-align: end;
	justify-content: end;

}
.selection{
margin-left: 1000;
margin-right: 1000;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
background-color:rgb(196, 193, 193) ;
font-size: 25px;
}

.cadre{
	display:flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.texte{
	color: #ec008c;
	font-size: 30pt;
	text-align: center;
	margin: auto;
	background-color: rgb(255, 255, 255);
	border:2px solid #ec008c;
}
#jeune{
	text-align:end;
	color: #ec008c;
	font-size: 100px;
}
#valeuramonengagement{
	color:white;
	font-size: 40px;
}

#selectionjeune{
	color:#ec008c;
	padding-left: 10px;
	padding-right: 5px;
	transition: 750ms;
}
#selectionreferent{
	color:#8bb93b;
	padding-right: 5px;
	padding-left: 5px;
	transition: 750ms;
}
#selectionconsultant{
	color: #00adef;
	padding-left: 5px;
	padding-right: 5px;
	transition: 750ms;
}
#selectionpartenaires{
	color:#707176;
	padding-right: 10px;
	padding-left: 5px;
	transition: 750ms;
}
#selectionjeune:hover {
	background-color: #ec008c;
	color:white;
	padding: 2px 30px;
}
#selectionreferent:hover {
	background-color:#8bb93b;
	color:white;
	padding: 2px 30px;
}
#selectionconsultant:hover {
	background-color: #00adef;
	color:white;
	padding: 2px 30px;
}
#selectionpartenaires:hover {
	background-color: #707176;
	color:white;
	padding: 2px 30px;
}
#selectionjeune:active{
	transition: 1ms;
	background-color: black;
}
#selectionreferent:active{
}
#selectionconsultant:active{
}
#selectionpartenaires:active{
}
